<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio website</title>
   <link rel="stylesheet" href="{{url_for('static' , filename = 'css/style.css')}}">
   <link rel="stylesheet" href="{{url_for('static' , filename = 'css/style1.css')}}">
   <link rel="stylesheet" href="{{url_for('static' , filename = 'css/project.css')}}">
   <link rel="stylesheet" href="{{url_for('static' , filename = 'css/contact.css')}}">
</head>
<body>
  <header>
    <h1>Portfolio Website</h1>
    <nav>
        <a href="project.html">project</a>
        <a href="about.html">About me</a>
        <a href="contact.html">contact</a>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <p>made by shivani chauhan&hearts;</p>
  </footer>
</body>
</html>