{% extends "base.html" %}
{% block title %} contact page {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block content %}
  <div class="contact">
  <h2>Contact Me</h2>
  <p>
    I’d love to hear from you! Whether you have a project in mind, 
    want to collaborate, or just want to say hello — feel free to reach out.
  </p>
  
 
    <p>📧 Email: <a href="https://shivanichauhan02446@gmail.com">shivanichauhan02446@gmail.com</a></p>
    <p>💻 GitHub: <a href=https://github.com/shivani-033>Github</a></p>
    <p>🔗 LinkedIn: <a href="https://www.linkedin.com/in/shivani-chauhan-1bb961374?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">linkedin.com/in/Shivani-Chuhan</a></p>
  </div>
{% endblock%}n